{{define "head"}}{{end}} {{define "leftSideHeader"}}{{end}} {{define "leftSidebar"}}{{end}} {{define "content"}}
<div class="content-header">
  <!-- leftside content header -->
  <div class="leftside-content-header">
    <ul class="breadcrumbs">
      <li><i class="fa fa-columns" aria-hidden="true"></i><a href="#">Forms</a></li>
      <li><a>Category</a></li>
    </ul>
  </div>
</div>
<div class="row animated fadeInUp">
  <!--MAX LENGTH-->
  <div class="col-sm-6">
    <!-- <h4 class="section-subtitle"><b>CATEGORY</b></h4> -->
    <div class="panel">
      <div class="panel-content">
        <div class="row">
          <div class="col-md-12">
            <form method="post" action="{{$.CurrentURI}}">
              <!--INPUT max length-->
              <div class="form-group">
                <label for="inputMaxLength" class="control-label">Name category</label>
                <input {{TEXT "name_category" "" .}} type="text" class="form-control" id="inputMaxLength" placeholder="category name" maxlength="250">
                <span class="help-block"><i class="fa fa-info-circle mr-xs"></i>Max characters set to <span class="code">250</span></span>
              </div>

              <div class="form-group">
                <input type="submit" name="submit" class="btn btn-success" value="Submit">
                <input type="submit" name="submit" class="btn btn-default" value="Submit">
              </div>
              <input type="hidden" name="_token" value="{{$.token}}">
              <!-- <div class="form-group">
                <label for="default-datepicker" class="control-label ">Default</label>

                <div class="input-group">
                  <span class="input-group-addon x-primary"><i class="fa fa-calendar"></i></span>
                  <input type="text" class="form-control" id="default-datepicker">
                </div>

              </div> -->

              <!--TEXTAREA max length-->
              <!-- <div class="form-group">
                <label for="textareaMaxLength" class="control-label">Textarea</label>
                <textarea class="form-control" rows="3" id="textareaMaxLength" placeholder="Write a comment" maxlength="100"></textarea>
                <span class="help-block"><i class="fa fa-info-circle mr-xs"></i>Max characters set to <span class="code">100</span></span>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{end}} {{define "rightSidebar"}}{{end}} {{define "scripts"}}{{end}}